{% load static %}

<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="analysistab-list" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#trackinspect" role="tab" aria-controls="trackinspect" aria-selected="true">Trackinspect</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pca" role="tab" aria-controls="pca" aria-selected="false">PCA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#hca" role="tab" aria-controls="hca" aria-selected="false">HCA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#heatmap" role="tab" aria-controls="heatmap" aria-selected="false">Heatmap</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
       <div class="tab-content mt-4">

        <div class="tab-pane active" id="trackinspect" role="tabpanel" aria-labelledby="trackinspect-tab">
          <p class="card-text">test </p>
          
        </div>

        <div class="tab-pane" id="pca" role="tabpanel" aria-labelledby="pca-tab">
          <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
          
        </div>
         
        <div class="tab-pane" id="hca" role="tabpanel" aria-labelledby="hca-tab">  
          <p class="card-text">First settled around 1000 BCE and then founded as the Etruscan Felsina about 500 BCE, it was occupied by the Boii in the 4th century BCE and became a Roman colony and municipium with the name of Bononia in 196 BCE. </p>
          
        </div>
         
        <div class="tab-pane" id="heatmap" role="tabpanel" aria-labelledby="heatmap-tab">
          <p class="card-text">Immerse yourself in the colours, aromas and traditions of Emilia-Romagna with a holiday in Bologna, and discover the city's rich artistic heritage.</p>
          
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'modules/analysistab/analysistab.js' %}"></script>