<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OC-Manager</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" charset="utf-8"></script>

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-4 text-gray-800">Sample Application</h1>
          </div>
          <div class="card-group row">
            <div class="col-lg-6">
              <!-- Settings Board -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
                </div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <!-- Editable table -->
                        <form>
                          <div class="form-group row">
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate">MotorSpeed</label>
                              <input type="text" class="form-control" placeholder="300~5000"
                                aria-describedby="inputGroupPrepend" id='motorspeed' required>
                              <div class="input-group-append">
                                <span class="input-group-text">[mm/m]</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate" >Pressure</label>
                              <input type="text" class="form-control" placeholder="0.00~0.345"
                                aria-describedby="inputGroupPrepend" id='pressure' required>
                              <div class="input-group-append">
                                <span class="input-group-text">[bar]</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate">&Delta; Pressure</label>
                              <input type="text" class="form-control" placeholder="1~5"
                                aria-describedby="inputGroupPrepend" id='deltapressure' required>
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">Print bothways</label>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Plate Preview -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Plate Preview</h6>
                </div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <canvas id="plotPreview" width="400" height="400"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Plate Design Board -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Parameters</h6>
                </div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <!-- Editable table -->
                        <form>
                          <p><b>Plate Size</b><hr/><p>
                            <div class="form-group mt-3 mb-1 row">
                              <div class="input-group">
                                <!-- <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Size X</label> -->
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Size X</span>
                                </div>
                                <input type="text" class="form-control" placeholder="1~1200"
                                  aria-describedby="inputGroupPrepend" required value="100" onchange="changegraph(event)" id='sizex'>
                                <div class="input-group-append">
                                  <span class="input-group-text">[mm]</span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row pb-4">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Size Y</span>
                                </div>
                                <!-- <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Size Y</label> -->
                                <input type="text" class="form-control" placeholder="1~1200"
                                  aria-describedby="inputGroupPrepend" required value="100" onchange="changegraph(event)" id='sizey'>
                                <div class="input-group-append">
                                  <span class="input-group-text">[mm]</span>
                                </div>
                              </div>
                            </div>
                            <p><b>Offsets<hr/></b><p>
                            <div class="form-group mt-3 mb-1 row">
                              <div class="input-group">
                                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label-sm text-truncate">[X]</label>
                                <input type="text" class="form-control"
                                  aria-describedby="inputGroupPrepend" required onchange="changegraph(event)" value='0' id='offsetx'>
                                <div class="input-group-append">
                                  <span class="input-group-text">[mm]</span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="input-group">
                                <label for="colFormLabelSm" class="col-2 col-form-label col-form-label-sm text-truncate">[Y]</label>
                                <input type="text" class="form-control"
                                  aria-describedby="inputGroupPrepend" required onchange="changegraph(event)" value='0' id='offsety'>
                                <div class="input-group-append">
                                  <span class="input-group-text">[mm]</span>
                                </div>
                              </div>
                            </div>
                          <div class="form-group pt-4 mb-1 row">
                            <div class="input-group pt-4">
                              <label for="method" class="col-xl-3 col-form-label col-form-label-sm text-truncate"><h6><b>Bands Properties</b></h1></label>
                              <select id="method" onchange="configurationdisplay(event)" class="form-control">
                                <option selected>N° Bands</option>
                                <option>Bands Length</option>
                              </select>
                            </div>
                          </div>
                          <hr/>
                          <div class="form-group mt-3 mb-1 row" id='nbandsform'>
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate">N° Bands</label>
                              <input type="text" class="form-control" value='0'
                                aria-describedby="inputGroupPrepend" required onchange="changegraph(event)" id='nbands'>
                              <div class="input-group-append">
                                <span class="input-group-text">[#]</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-1 row" id='bandlengthform' hidden=true>
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate">Length</label>
                              <input type="text" class="form-control" value='0'
                                aria-describedby="inputGroupPrepend" required onchange="changegraph(event)" id='bandlength'>
                              <div class="input-group-append">
                                <span class="input-group-text">[mm]</span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-1 row">
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate">Height</label>
                              <input type="text" class="form-control" value='0'
                                aria-describedby="inputGroupPrepend" required onchange="changegraph(event)" id='bandheight'>
                              <div class="input-group-append">
                                <span class="input-group-text">[mm]</span>
                              </div>
                            </div>
                            <div class="input-group">
                              <label for="colFormLabelSm" class="col-xl-2 col-form-label col-form-label-sm text-truncate">Gap</label>
                              <input type="text" class="form-control"
                                aria-describedby="inputGroupPrepend" required value='0' onchange="changegraph(event)" id='gap'>
                              <div class="input-group-append">
                                <span class="input-group-text">[mm]</span>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Save and Load -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Save and Load</h6>
                </div>
                <div class="card-body">
                        <!-- Editable table -->
                  <form class="savesampleapplication-form"  action="/samplesave/" target='_parent' id='saveform' method="post">{% csrf_token %}
                    <div class="row">
                      <!-- Table COL -->
                      <div class="col-xl">
                        <label for="colFormLabelSm">Resume</label>
                        <div class="input-group">
                          <table class="table table-sm" id='resumetable'>
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Value</th>
                              <th scope="col">Units</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">MotorSpeed</th>
                              <td>{{SampleApplicationForm.motorspeed}}</td>
                              <td>[mm/m]</td>
                            </tr>
                            <tr>
                              <th scope="row">Pressure</th>
                              <td>{{SampleApplicationForm.pressure}}</td>
                              <td>[bar, %]</td>
                            </tr>
                            <tr>
                              <th scope="row">Sizes</th>
                              <td>{{SampleApplicationForm.sizes}}</td>
                              <td>[mm, mm]</td>
                            </tr>
                            <tr>
                              <th scope="row">Offsets</th>
                              <td>{{SampleApplicationForm.offsets}}</td>
                              <td>[mm, mm]</td>
                            </tr>
                            <tr>
                              <th scope="row">Bands Properties</th>
                              <td>{{SampleApplicationForm.bandproperties}}</td>
                              <td></td>
                            </tr>
                            <tr id='nbandsrow'>
                              <th scope="row">N° Bands</th>
                              <td>{{SampleApplicationForm.nbands}}</td>
                              <td>[#]</td>
                            </tr>
                            <tr id='lengthbandsrow'>
                              <th scope="row">Length Bands</th>
                              <td>{{SampleApplicationForm.lengthbands}}</td>
                              <td>[mm]</td>
                            </tr>
                            <tr>
                              <th scope="row">Height</th>
                              <td>{{SampleApplicationForm.height}}</td>
                              <td>[mm]</td>
                            </tr>
                            <tr>
                              <th scope="row">Gap</th>
                              <td>{{SampleApplicationForm.gap}}</td>
                              <td>[mm]</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>
                      <div class="col-xl">
                        <label>Save</label>
                        <div class="input-group">
                          <input type="text" class="form-control" name='filename' placeholder="Filename"
                            aria-describedby="inputGroupPrepend">
                          <div class="input-group-append">
                            <button type="submit" id='savebttn' class="btn btn-primary">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'topbar.js' %}"></script>
  <script src="{% static 'sample.js' %}"></script>
</body>

</html>
