# Django #
*.log
*.pot
*.pyc
__pycache__
*.sqlite3
media

# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.jwls
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

#Gcodes
.gcode

#Media Files
/media
**/db.sqlite3
**/**/migrations
app/derivatization/__init__.py
.gitignore
app/derivatization/admin.py
app/derivatization/apps.py
app/derivatization/models.py
app/derivatization/tests.py
app/derivatization/views.py
