django==3.0.0
flake8==3.8.3
pyserial==3.4
pillow==8.0.0
channels==2.3.1
channels-redis==2.4.1
pytest==6.2.4
matplotlib==3.4.2
scipy==1.6.3
pandas==1.2.4
scikit-learn==0.24.0
seaborn==0.11.1
numpy==1.20.3