<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

{% include 'head.html' %}

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Capture Plate</h1>
          <div class="card-group row">
            <div class="col-lg-6">
              {% include 'modules/imagelist/imagelist.html' %}
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">User Controls</h6>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#usercontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='usercontrolcontent'>
                  <form id="userControlsForm" class="form">
                    <div class="form-group row">
                      <div class="col">
                        {{ UserControlsForm.brightness.label }}
                        {{ UserControlsForm.brightness }}
                        {{ UserControlsForm.contrast.label }}
                        {{ UserControlsForm.contrast }}
                        {{ UserControlsForm.saturation.label }}
                        {{ UserControlsForm.saturation }}
                        {{ UserControlsForm.sharpness.label }}
                        {{ UserControlsForm.sharpness }}
                        {{ UserControlsForm.red_balance.label }}
                        {{ UserControlsForm.red_balance }}
                        {{ UserControlsForm.blue_balance.label }}
                        {{ UserControlsForm.blue_balance }}
                      </div>
                      <div class="col">
                        {{ UserControlsForm.color_effects.label }}
                        {{ UserControlsForm.color_effects }}
                        {{ UserControlsForm.color_effects_cbcr.label }}
                        {{ UserControlsForm.color_effects_cbcr }}
                        {{ UserControlsForm.horizontal_flip.label }}
                        {{ UserControlsForm.horizontal_flip }}
                        {{ UserControlsForm.vertical_flip.label }}
                        {{ UserControlsForm.vertical_flip }}
                        {{ UserControlsForm.rotate.label }}
                        {{ UserControlsForm.rotate }}
                        {{ UserControlsForm.power_line_frequency.label }}
                        {{ UserControlsForm.power_line_frequency }}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- CAMERA CONTROL -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Camera Controls</h6>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#cameracontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='cameracontrolcontent'>
                  <form id="cameraControlsForm">
                    <div class="form-group row">
                      <div class="col">
                        {{ CameraControlsForm.auto_exposure.label }}
                        {{ CameraControlsForm.auto_exposure }}
                        {{ CameraControlsForm.exposure_dynamic_framerate.label }}
                        {{ CameraControlsForm.exposure_dynamic_framerate }}
                        {{ CameraControlsForm.auto_exposure_bias.label }}
                        {{ CameraControlsForm.auto_exposure_bias }}
                        {{ CameraControlsForm.exposure_time_absolute.label }}
                        {{ CameraControlsForm.exposure_time_absolute }}
                        {{ CameraControlsForm.exposure_metering_mode.label }}
                        {{ CameraControlsForm.exposure_metering_mode }}
                      </div>
                      <div class="col">
                        {{ CameraControlsForm.white_balance_auto_preset.label }}
                        {{ CameraControlsForm.white_balance_auto_preset }}
                        {{ CameraControlsForm.scene_mode.label }}
                        {{ CameraControlsForm.scene_mode }}
                        {{ CameraControlsForm.image_stabilization.label }}
                        {{ CameraControlsForm.image_stabilization }}
                        {{ CameraControlsForm.iso_sensitivity_auto.label }}
                        {{ CameraControlsForm.iso_sensitivity_auto }}
                        {{ CameraControlsForm.iso_sensitivity.label }}
                        {{ CameraControlsForm.iso_sensitivity }}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- LED CONTROL -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">LEDs Controls</h6>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#ledcontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='ledcontrolcontent'>
                  <form id="ledsControlsForm">
                    <div class="form-group" id="uv_light">
                      <div class="d-flex justify-content-between py-2">
                        {{ LedsControlsForm.uv365_power.label }}
                        {{ LedsControlsForm.uv365_power }}
                        <input type="number" class='form-control' value='0' id='uv365text' min="0" max="255" style="width: 6em"/>
                      </div>
                      <div class="d-flex justify-content-between py-2">
                      {{ LedsControlsForm.uv255_power.label }}
                      {{ LedsControlsForm.uv255_power }}
                      <input type="number" class='form-control' value='0' id='uv255text' min="0" max="255" style="width: 6em"/>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-row justify-content-center">
                    <div id="picker"></div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- FORMAT CONTROL -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">Format Controls</h6>
                    <button id='hommingbttn' name='start' class="btn btn-link"  data-toggle="modal" data-target="#hommingModal"><i class="fas fa-home"></i></button>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#formatcontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='formatcontrolcontent'>
                  <form id="codecControlsForm">
                    {% for fields in FormatControlsForm %}
                        {{ fields.label }}
                        {{ fields }}
                    {% endfor %}
                    <div class="d-flex justify-content-center m-2">
                      <button id='shootbttn' class="btn btn-primary">Take Photo!</button>
                    </div>
                  </div>
                  </form>
                </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  {% include 'modules/detectionhome/detectionhome.html' %}
  <script src="{% static 'js/oclab/topbar.js' %}"></script>
  {% include 'modules/csrftoken/csrftoken.html' %}
  <script src="{% static 'modules/colpick/colpick.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'modules/colpick/colpick.css' %}" type="text/css"/>
  <script src="{% static 'js/oclab/detection.js' %}" charset="utf-8"></script>
</body>
</html>
