<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OC-Manager 3</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Pump Control</h1>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Manual</h6>
                </div>
                <div class="card-body">
                  <form  class="move-form" id='ajax-form' method="post"> {% csrf_token %}
                    <div class="form-row align-items-center">
                      <div class="form-group col-4 col-md-2">
                        <p class="text-center m-0">Cycles</p>
                      </div>
                      <div class="form-group col-6 col-md-8">
                        <input class="custom-range" name='cycles' value='0' type="range" min="0" max="100" oninput="sliderChange(this.value,'steptext')" id='steprange'/>
                      </div>
                      <div class="form-group col-2 col-md-2">
                        <input type="text" class='form-control' value="0" id='steptext'>
                      </div>
                    </div>
                    <!-- X buttons -->
                    <div class="flex-row-reverse align-items-center">
                      <div class="form-group col d-flex justify-content-end px-0 pt-2">
                        <button class="btn btn-secondary btn-icon-split btn-sm" id='pump_manual' type="submit">
                          <span class="icon text-white-50">
                            <i class="fas fa-gas-pump"></i>
                          </span>
                          <span class="text">Pump it, now!</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Cleaning Process</h6>
                </div>
                <div class="card-body">
                  <form id='cleaningprocessform'>
                    <div class="row">
                      <div class="col">
                        {{ CleaningProcessForm.start_frequency.label }}
                        {{ CleaningProcessForm.start_frequency }}
                      </div>
                      <div class="col">
                        {{ CleaningProcessForm.stop_frequency.label }}
                        {{ CleaningProcessForm.stop_frequency }}
                      </div>
                      <div class="col">
                        {{ CleaningProcessForm.steps.label }}
                        {{ CleaningProcessForm.steps }}
                      </div>
                      <div class="col">
                        {{ CleaningProcessForm.pressure.label }}
                        {{ CleaningProcessForm.pressure }}
                      </div>
                    </div>
                  </form>
                  <form  class="move-form" id='ajax-form' method="post"> {% csrf_token %}
                    <div class="flex-row-reverse align-items-center">
                      <div class="form-group col px-0 pt-2">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <button id='cleanbttn' name='start' class="btn btn-primary control-bttn">Start</button>
                          </div>
                          <div class="input-group-append">
                            <button id='stopbttn' class="btn btn-primary control-bttn">Stop</button>
                          </div>
                          <div class="input-group-append">
                            <button id='pausebttn' class="btn btn-primary control-bttn">Pause</button>
                          </div>
                        </div>
                      </div>
                      <div class="progress">
                        <div id='id_clean_progress_bar'class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <div class="alert alert-dismissible collapse" id='id_cleaning_status' role="alert"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'pumpcontrol.js' %}"></script>
  <script src="{% static 'topbar.js' %}"></script>
</body>
<script type="text/javascript">
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

</html>
