<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OC-Manager 3</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" charset="utf-8"></script>


</head>
<body id="page-top" onload="mainCalculations(); loadResumeTable()">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">


          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-4 text-gray-800">Sample Application</h1>
          </div>
          <div id="response"></div>

          <div class="card-group row">
            <div class="col-lg-6">
              <!-- Settings Board -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">Settings</h6>
                    <button id='syringe-settings'class="btn btn-link"  data-toggle="modal" data-target="#syringeModal"><i class="fas fa-syringe"></i></button>
                    <button id='rinse-settings'class="btn btn-link"  data-toggle="modal" data-target="#rinseVolModal"><i class="fas fa-tint"></i></button>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#settingscontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show mx-3" id='settingscontent'>
                    <!-- Editable table -->
                    {% include 'modules/sampleapp/dinamicpropertiesform.html' %}
                </div>
              </div>
              <!-- Plate Preview -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Plate Preview</h6>
                    <button id='minimize-platepreview' class="btn btn-link" data-toggle="collapse" data-target="#platepreviewarea" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show mx-3" id='platepreviewarea'>
                  <canvas id="plotPreview" width="400" height="400"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Plate Design Board -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">Parameters</h6>
                    <button id='hommingbttn' name='start' class="btn btn-link"  data-toggle="modal" data-target="#hommingModal"><i class="fas fa-home"></i></button>
                    <button id='minimize-platepreview' class="btn btn-link" data-toggle="collapse" data-target="#parametersarea" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show mx-3" id='parametersarea'>
                  <div class="alert alert-info alert-dismissible collapse" id='id_parameter_error' role="alert">
                    Complete it!
                  </div>
                  <!-- Editable table -->
                  {% include 'modules/sampleapp/platepropertiesform.html' %}
                </div>
              </div>
              <!-- Concentrations Board -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">Band Descriptions</h6>
                    <button id='minimize-platepreview' class="btn btn-link" data-toggle="collapse" data-target="#banddescritionarea" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='banddescritionarea'>
                    <div id="table" class="table-editable">
                      <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                          <tr>
                            <th class="text-center">Band</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Volume (uL)</th>
                            <th class="text-center">Type</th>
                          </tr>
                        </thead>
                        <tbody id='tbody_band'>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
              <!-- Save and Load -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Save and Load</h6>
                    <button id='minimize-saveandload' class="btn btn-link" data-toggle="collapse" data-target="#saveandloadarea" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='saveandloadarea'>
                        <!-- Editable table -->
                  <form class="resume-form" id='saveform' method="post">{% csrf_token %}
                    <div class="row">
                      <div class="col">
                        <label>Save</label>
                        <div class="alert alert-success alert-dismissible collapse m-1" id='id_save_sucess' role="alert"></div>
                        <div class="alert alert-danger alert-dismissible collapse m-1" id='id_save_error' role="alert"></div>
                        <form id='saveform'>
                          <div class="input-group">
                            {{SampleApplication_Form.file_name}}
                            <div class="input-group-append">
                              <button type="submit" id='savebttn' class="btn btn-primary">Save</button>
                            </div>
                          </div>
                        </form>
                        <label for="list-load" class="mt-4">Load</label>
                        <div class="alert alert-success alert-dismissible collapse m-1" id='id_load_sucess' role="alert"></div>
                        <div class="list-group" id="list-load" role="tablist" style="max-height:300px; overflow-y:scroll;">
                        </div>
                        <label for="list-load" class="mt-4">Controll</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <button id='startbttn' name='start' class="btn btn-primary control-bttn">Start</button>
                          </div>
                          <div class="input-group-append">
                            <button id='stopbttn' class="btn btn-primary control-bttn">Stop</button>
                          </div>
                          <div class="input-group-append">
                            <button id='pausebttn' class="btn btn-primary control-bttn">Pause</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'modules/homming/homming.html' %}
  {% include 'modules/syringeload/syringeload.html' %}
  {% include 'modules/rinseVol/rinseVol.html' %}
  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  <script src="{% static 'js/oclab/topbar.js' %}"></script>
  <script src="{% static 'js/oclab/sample.js' %}"></script>
  {% include 'modules/csrftoken/csrftoken.html' %}
</body>

</html>
